<h1>Dracula-Themes</h1>
<h2>Vim</h2>
<p>https://draculatheme.com/vim</p>
<p>If you use vim + vundle:
<code>Plugin 'dracula/vim', { 'name': 'dracula' }
:PluginInstall</code>
Place colorscheme dracula after call vundle#end()</p>
<h2>Zsh</h2>
<p>https://draculatheme.com/zsh</p>
<ol>
<li>Download using the GitHub .zip download option and unzip them.</li>
<li>Move dracula.zsh-theme file to oh-my-zsh's theme folder: oh-my-zsh/themes/dracula.zsh-theme.</li>
<li>Move /lib to oh-my-zsh's theme folder: oh-my-zsh/themes/lib.</li>
</ol>
<p>Activating theme:
Go to your ~/.zshrc file and set ZSH_THEME="dracula".</p>
<h2>GTK</h2>
<p>https://draculatheme.com/gtk</p>
<p>Install manually
Download using the GitHub .zip download option and extract the .zip file to the themes directory i.e. /usr/share/themes/ or ~/.themes/ (create it if necessary).</p>
<p>Activating theme:
To activate the theme in Gnome, run the following commands in Terminal:</p>
<p><code>gsettings set org.gnome.desktop.interface gtk-theme "Dracula"
gsettings set org.gnome.desktop.wm.preferences theme "Dracula"</code>
or Change via distribution specific tweak tool.</p>
<p>Icon Theme (optional)
Install manually
Download using the GitHub .zip download option and extract the .zip file to the icons directory i.e. /usr/share/icons/ or ~/.icons/ (create it if necessary).</p>
<p>Activating icon theme:
To activate the theme in Gnome, run the following commands in Terminal:</p>
<p><code>gsettings set org.gnome.desktop.interface icon-theme "Dracula"</code>
or Change via distribution specific tweak tool.</p>
<h2>Qt5</h2>
<p>https://draculatheme.com/qt5</p>
<p>Install manually
Download using the GitHub .zip download option and unzip them.</p>
<p>Activating theme:
1. Copy Dracula.conf to ~/.config/qt5ct/colors/
2. Open up qt5ct (or manually edit your qt5 theme) and set Dracula as the active theme.</p>
<h2>Vivaldi</h2>
<p>https://draculatheme.com/vivaldi</p>
<p>Configuring the theme:
1. Open Vivaldi's Settings panel
    - Tools menu &gt; Settings (or press Ctrl-F12)
2. Select Themes in the sidebar
3. Click the + sign, enter a name (ex: Dracula)
4. Enter the following colors
    - Background: #282a36
    - Foreground: #f8f8f2
    - Highlight: #6272a4
    - Accent: #44475a</p>
<h2>Firefox</h2>
<p>https://draculatheme.com/firefox</p>
<p>Install the theme directly from Firefox Addons.</p>
<h2>Qutebrowser</h2>
<p>https://draculatheme.com/qutebrowser</p>
<p>Install manually
Download using the GitHub .zip download option and unzip.</p>
<p>Activating theme:
- Find your qutebrowser configuration directory (see e.g. :version in qutebrowser). This folder should be located at the "config" location listed on qute://version, which is typically ~/.config/qutebrowser/ on Linux.
- Move the repository folder to dracula inside the configuration directory.
- In your qutebrowser config.py file, include the following:
```
import dracula.draw</p>
<h1>Load existing settings made via :set</h1>
<p>config.load_autoconfig()</p>
<p>dracula.draw.blood(c, {
    'spacing': {
        'vertical': 6,
        'horizontal': 8
    }
})
```</p>
<h2>Vimium</h2>
<p>https://draculatheme.com/vimium</p>
<p>Activating theme:
1. Go into the Vimium addon's preferences.
2. Activate advanced options.
3. Now copy the content of vimium-dracula.css into the custom CSS field</p>
<h2>Thunderbird</h2>
<p>https://draculatheme.com/thunderbird</p>
<p>Install using Thunderbird Themes</p>
<h2>Xresources</h2>
<p>https://draculatheme.com/xresources</p>
<p>Install manually
Download using the GitHub .zip download option and unzip them.</p>
<p>Activating theme:
Copy or link as a .Xresources file in your home directory.</p>
<h2>Alacritty</h2>
<p>https://draculatheme.com/alacritty</p>
<p>Install
Download using the GitHub .zip download option.</p>
<p>Import dracula.yml in ~/.config/alacritty/alacritty.yml.</p>
<p><code>import:
  - /path/to/dracula.yml</code></p>
<h2>i3</h2>
<p>https://draculatheme.com/i3</p>
<p>Install
Download using the GitHub .zip download option.</p>
<p>Activating the theme
Append the colour palettes in .config to your existing i3 configuration files.</p>
<h2>DuckDuckGo</h2>
<p>https://draculatheme.com/duckduckgo</p>
<p>Install
Pasting this script in your browser console while browsing https://duckduckgo.com:</p>
<p><code>var dracula=["7=282a36","8=f8f8f2","9=50fa7b","ae=t","t=p","s=m","w=n","m=l","o=s","j=282a36","a=p","aa=bd93f9","u=-1","x=f1fa8c","y=44475a","af=1","ai=1","f=1"];for(var i=0;i&lt;dracula.length;i++)document.cookie=dracula[i];alert('Appearance settings have successfully been updated!');location.reload();</code></p>
<h2>Fish</h2>
<p>https://draculatheme.com/fish</p>
<p>Install using a plugin manager:
If you use Oh My Fish to manage your fish plugins:
<code>omf install https://github.com/dracula/fish</code>
Install manually:
Download using the GitHub .zip download option.</p>
<p>Place dracula.fish in your ~/.config/fish/conf.d/ directory, then reload fish e.g. exec fish.</p>
<h2>Zsh Syntax Highlighting</h2>
<p>https://draculatheme.com/zsh-syntax-highlighting</p>
<p>Install using Git
If you are a git user, you can install the theme and keep up to date by cloning the repo:
<code>git clone https://github.com/dracula/zsh-syntax-highlighting.git</code>
Install manually
Download using the GitHub .zip download option and unzip them.</p>
<p>Activating theme
1. Before being able to use the Dracula theme for zsh-syntax-highlighting, you must first have downloaded and installed the zsh-syntax-highlighting utility (and be using zsh).</p>
<ol>
<li>
<p>Copy the contents of the Dracula zsh-syntax-highlighting file, and paste into your zshrc file, likely at ~/.zshrc.</p>
</li>
<li>
<p>Note: If you installed zsh-syntax-highlighting via git, or site wide, be sure to paste the contents of the file before the following line in your ~/.zshrc file:</p>
</li>
</ol>
<p>```</p>
<h1>...</h1>
<p>source /some/path/to/your/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh</p>
<h1>...</h1>
<p>```
- Note: If you installed zsh-syntax-highlighting via a plugin manager, be sure to paste the contents of the file before you activate the utility via it's plugin invocation.</p>
<ol>
<li>Start a new zsh session: exec zsh and confirm it's working.</li>
</ol>
<p>Implementation:
This theme attempts to cover all possible zsh-syntax-highlighting options for the main highlighter. The coloring was implemented/modelled after the official Dracula color specification as much as logically possible.</p>
<p>As such, the theme is grouped by Dracula spec section; Each section in the spec is 1:1 with a ## <header> in the theme file. For settings that didn't seem to fall under any of the Dracula spec, they are under the ## No category relevant in spec section.</p>
<p>Within a section, the options occur in the same order they do on the main highlighter doc page.</p>
<p>Accompanying Screnshot Prompt:
Though not related to this theme nor included as a specific Dracula offering, the prompt in the screenshot is typewritten: "A minimal zsh prompt". Relevant ~/.zshrc settings are so:
```</p>
<h1>Typwritten: https://typewritten.dev/#/installation; Dracula compliment, purple based</h1>
<p>ZSH_THEME="typewritten"</p>
<p>export TYPEWRITTEN_SYMBOL="λ "
export DRACULA_TYPEWRITTEN_COLOR_MAPPINGS="primary:#d5ccff;secondary:#9580ff;info_neutral_1:#d0ffcc;info_neutral_2:#ffffcc;info_special:#ff9580;info_negative:#ff5555;notice:#ffff80;accent:#d5ccff"
export TYPEWRITTEN_COLOR_MAPPINGS="${DRACULA_TYPEWRITTEN_COLOR_MAPPINGS}"
export TYPEWRITTEN_PROMPT_LAYOUT="half_pure"
```</p>
<h2>Midnight Commander</h2>
<p>https://draculatheme.com/midnight-commander</p>
<p>Install manually
For 8/16 colors; download the latest raw file and save it as ~/.local/share/mc/skins/dracula.ini</p>
<p>For 256 colors; download the latest raw file and save it as ~/.local/share/mc/skins/dracula256.ini</p>
<p>Activating theme:
Update your mc settings..</p>
<ul>
<li>Option 1: edit ~/.config/mc/ini and add skin=dracula to the [Midnight-Commander] section..
```
[Midnight-Commander]</li>
</ul>
<h1>for 8/16 color..</h1>
<p>skin=dracula</p>
<h1>for 256 color..</h1>
<p>skin=dracula256
```
- Option 2: choose the skin through the mc UI with F9 &gt; Options &gt; Appearance</p>
<h2>Bashtop</h2>
<p>https://draculatheme.com/bashtop</p>
<p>Install manually
Download using the GitHub .zip download option and unzip them.</p>
<p>Activating theme:
1. Copy dracula.theme to ~/.config/bashtop/user_themes/
2. Start bashtop, press m for the menu, go to options, "Color theme" and set dracula as the theme.</p>
<h2>Dunst</h2>
<p>https://draculatheme.com/dunst</p>
<p>Install manually
Download using the GitHub .zip download option and unzip them.</p>
<p>Activating theme:
1. Copy dunstrc to ~/.config/dunst/dunstrc
2. You may want to look through and change some of the options in dunstrc to match your preferences/original configuration</p>
<h2>KDiff3</h2>
<p>https://draculatheme.com/kdiff3</p>
<p>Install manually
Download using the GitHub .zip download option and unzip them.</p>
<p>Activating theme:
1. Replace color lines from your ~/.kdiff3rc (ex on win: C:\Users\<name>.kdiff3rc) file with the ones from dracula theme's .kdiff3rc
2. Restart Kdiff3</p>
<h2>Ranger</h2>
<p>https://draculatheme.com/ranger</p>
<p>Install manually
Download using the GitHub .zip download option and unzip them.</p>
<p>Activating theme:
1. Install the Dracula color theme for Xresources</p>
<ol>
<li>Find your ranger colorschemes directory. Usually, it is located in ~/.config/ranger/colorschemes.</li>
<li>
<p>If you don't have a ~/.config/ranger directory:</p>
<ol>
<li>Run ranger --copy-config=(rc)</li>
<li>Go to ~/.config/ranger and create a directory called colorschemes</li>
</ol>
</li>
<li>
<p>Go back to the cloned or downloaded directory</p>
</li>
<li>
<p>Copy or link dracula.py to your ~/.config/ranger/colorschemes directory</p>
<ul>
<li>Copy: cp dracula.py ~/.config/ranger/colorschemes/dracula.py</li>
<li>Link: ln -s dracula.py ~/.config/ranger/colorschemes/dracula.py</li>
</ul>
</li>
<li>
<p>Go to your rc.conf file located in ~/.config/ranger/rc.conf</p>
</li>
<li>
<p>Change the line set colorscheme ... to set colorscheme dracula</p>
</li>
</ol>